@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

* {
    font-family: Lato;
}

button {
    background-color: #42b983;
    border: none;
    padding: 12px;
    color: #fff;
    border-radius: 4px;
    margin-top: 20px;
    font-weight: 600;
    font-size: 1em;
}
button:hover {
    background-color: #35a673;
}
button:active {
    background-color: #299564;
}

#signupview, #signinview {
    border: 1px solid #eee;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    padding: 40px;
}
form {
    width: 40vw;
    margin: auto;
}

input {
    height: 32px;
    border:none;
    border-bottom: 2px solid #aaa;
    margin: 15px;
}

input:focus {
    background-color: none;
}

#signout {
    font-size: 0.9em;
    text-decoration: none;
}

#signout:hover {
    text-decoration: underline;
    color: #42b983;
}
#sep {
    margin: 0 10px;
    color: #aaa;
}
#addatask {
    display: flex;

}


td {
    text-align: left;
    padding: 2px 40px;
}
